div.page-not-found-container {
    background-color: var(--light-background-color);
    padding: 9em;
    text-align: center;
}

div.page-not-found-container h1 {
    font-size: 5em;
}

div.page-not-found-container a {
    color: var(--light-font-color);
}

div.page-not-found-container a:hover {
    color: var(--dark-font-color);
}