div.feature {
    background-image: url('public/images/background.jpg'); 
    background-repeat: no-repeat;
    background-position: center top -5em; 
    background-size: cover;
    padding: 16em 0;
}



/* buttons styles */
.see-more-btn,
.edit-btn, 
.delete-btn, 
.comment-btn, 
.btn.submit {
    background-color: #3a3b29;
    color: #f4e1b6;
    /* border: none; */
    text-wrap: nowrap;
}

.see-more-btn:hover, 
.edit-btn:hover, 
.delete-btn:hover, 
.comment-btn:hover, 
.btn.submit:hover {
    /* background-color: #a69e85; */
    background-color: transparent;
    color: #3a3b29;
    /* border: 2px solid #3a3b29; */
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.4);
}