/* feature styles */
div.feature {
    background-image: url('/images/background.jpg'); 
    /* background-image: url('images/background3.jpg');  */
    background-repeat: no-repeat;
    background-position: center top -5em; 
    background-size: cover;
    padding: 16em 0;
    /* padding: 8em 0; */
}

div.title {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -13em;
}

div.title h1 {
    width: 10ch;
    color: #3a3b29;
    padding-bottom: 0.5em;
}

div.title .btn {
    border: 1px solid #3a3b29;
    color: #3a3b29;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}

div.title .btn:hover {
    background-color: #3a3b29; 
    color: #edd19f;
}



/* parks-container styles */
div.parks-container {
    display: flex;
    padding: 3rem 3.5rem;
    gap: 2em;
    justify-content: space-between; 
    flex-wrap: wrap;
}

div.parks-container article {
    max-width: 30%;
    min-width: fit-content;
    text-align: center;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
    padding: 2em 1em;
    border-radius: 0.5em; 
    background-image: linear-gradient(#f4e1b6, #f3d69a, #eac38c);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.parks-container article h2 {
    font-size: 2em;
    padding-bottom: 0.3em;
}

div.parks-container article p {
    padding-bottom: 1em;
}

/* div.parks-container article div.info-container {
    display: flex;
    flex-direction: column;
} */
div.parks-container article div.img-container {
    margin-bottom: 1em;
    /* flex-grow: 1; */
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: aqua;  */
} 

div.parks-container article div.img-container img {
    border-radius: 0.3em; 
}



@media (max-width: 600px) {
    /* div.parks-container {
        flex-direction: column;
    } */

    div.parks-container article {
        width: fit-content;
    }
}