/* feature styles */
div.feature {
    /* background-image: url('/images/background.jpg');  */
    background-image: url('images/wakboarder_blue_smoke.jpg'); 
    background-repeat: no-repeat;
    /* background-position: center top -5em;  */
    /* background-position: right top -5em;  */
    background-size: cover;
    padding: 16em 0;
    /* padding: 8em 0; */
    display: flex;
    justify-content: flex-end;
}

div.title {
    max-width: 30%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -13em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.3em;
    padding: 1em;
    margin-right: 4em;
}

div.title h1 {
    width: 10ch;
    color: var(--dark-font-color);
    /* color: var(--light-font-color); */
    padding-bottom: 0.5em;
}

div.title .btn {
    border: 1px solid var(--dark-font-color);
    color: var(--dark-font-color);
    padding: 0.5em 1em;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

div.title .btn:hover {
    background-color: var(--dark-background-color); 
    /* color: #edd19f; */
    color: var(--light-font-color);
}



/* parks-container styles */
div.parks-container {
    max-width: 100%;
    display: flex;
    padding: 3rem 3.5rem;
    gap: 2em;
    justify-content: space-between; 
    flex-wrap: wrap;
}

div.parks-container article {
    max-width: 30%;
    min-width: fit-content;
    text-align: center;
    /* box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.6); */
    box-shadow: 0 0 1em 0 rgb(0, 118, 126, 0.6);
    padding: 2em 1em;
    border-radius: 0.5em; 
    background-image: var(--background-gradient);
    background-color: var(--articles-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.parks-container article h2 {
    font-size: 2em;
    padding-bottom: 0.3em;
    max-width: 15ch;
}

div.parks-container article p {
    padding-bottom: 1em;
}

div.parks-container article div.img-container {
    margin-bottom: 1em;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.parks-container article div.img-container img {
    border-radius: 0.3em; 
}



@media (max-width: 600px) {
    /* div.parks-container {
        flex-direction: column;
    } */

    div.parks-container article {
        width: fit-content;
    }
}