.edit-container {
    text-align: center;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
    padding: 2em 1em;
    border-radius: 0.5em; 
    background-image: var(--background-gradient);
    background-color: var(--articles-background-color);
    width: 40%;
    margin: 2em auto;
} 

.edit-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.edit-form label {
    /* text-align: left; */
    display: none;
}

.edit-form input, 
.edit-form textarea, 
.edit-form select {
    padding: 0.3em;
    margin-bottom: 1em;
    background-color: transparent;
    border: 2px solid var(--dark-background-color);
}