/* .header { */
  header {
    background-color: rgb(22, 149, 246); 
    display: flex;
    justify-content: space-between;
    padding: 1.5em 4em;
    align-items: center;
  }
  
  nav ul.nav-items {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  p.logo {
    color: white;
    font-size: 2em;
  }
  
/* } */