header {
    background-color: #3a3b29;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    align-items: center;
}

nav ul.nav-items {
    list-style: none;
    display: flex;
    gap: 2em;
}

.nav-items a, 
p.logo a {
    color: #f3eac4;
    text-decoration: none;
}

p.logo {
    color: white;
    font-size: 2em;
    padding-left: 3.5rem;
}