header {
    background-color: var(--dark-background-color);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    align-items: center;
}

nav ul.nav-items {
    list-style: none;
    display: flex;
    gap: 2em;
}

p.logo {
    /* color: white; */
    font-size: 2em;
    padding-left: 3.5rem;
    text-wrap: nowrap;
}

.nav-items a, 
p.logo a {
    color: var(--light-font-color);
    text-decoration: none;
}
