header {
    background-color: var(--dark-background-color);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    align-items: center;
}

div.nav-items-container {
    display: flex;
}

nav ul.nav-items {
    list-style: none;
    display: flex;
    gap: 2em;
}

p.logo {
    /* color: white; */
    font-size: 2em;
    padding-left: 3.5rem;
    text-wrap: nowrap;
}

.nav-items a, 
p.logo a {
    color: var(--light-font-color);
    text-decoration: none;
}


/* hamburger menu */

#hamburger-menu {
    display: none;
}

div#hamburger-menu div.bar {
    /* padding: 0.1em; */
    height: 5px;
    width: 2.2em;
    background-color: var(--light-font-color);
    margin: 0.3em;
    border-radius: 0.3em;
}



@media (max-width: 1025px) {
    #hamburger-menu {
        display: block;
        cursor: pointer;
    }

    ul.nav-items li {
        display: none;
    }

    ul.nav-items li.active {
        display: block;
        flex-wrap: wrap;
        padding: 0.2em 2em;
    }

    nav ul.nav-items {
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: var(--dark-background-color);
        gap: 1em;
        padding: 0.5em 0;
    }
}