div.search-container {
    padding-bottom: 2em;
    text-align: center;
}

div.search-container label {
    display: none;
}

div.search-container input {
    width: 45%;
    padding: 0.2em 0.5em;
}


h1.all-wakeparks {
    font-size: 2.2em;
    text-align: center;
}



div.wakeparks-container {
    display: flex;
    flex-direction: column;
    background-color: #a69e85;
    gap: 2em;
}

div.wakeparks-container section.park-article {
    display: flex;
    gap: 3em;
    padding: 2em 3.5em;
    border-radius: 0.5em;
    background-image: linear-gradient(#f4e1b6, #f3d69a, #eac38c); 
    min-width: fit-content;
}

div.wakeparks-container section.park-article .main-img-container {
    min-width: 30%;
}

div.wakeparks-container section.park-article div.park-details-container {
    width: 65%;
    /* min-width: fit-content; */
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

div.wakeparks-container .images-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 4.4em;
    flex-wrap: wrap;
}

div.wakeparks-container section.park-article img {
    border-radius: 0.5em; 
}

div.wakeparks-container section.park-article .btn-container {
text-align: right;
}



@media (max-width: 600px) {
    div.wakeparks-container section {
        flex-direction: column;
    }

    div.wakeparks-container .images-container {
        flex-direction: column;
        /* text-align: center; */
    }

    div.wakeparks-container .images-container img {
        display: inline-block;
    }
}