div.search-container {
    padding-bottom: 2em;
    text-align: center;
}

div.search-container label {
    display: none;
}

div.search-container input {
    width: 45%;
    padding: 0.2em 0.5em;
}



div.wakeparks-container {
    display: flex;
    flex-direction: column;
    background-color: #a69e85;
    gap: 2em;
}

div.wakeparks-container section {
    display: flex;
    gap: 3em;
    padding: 2em 3.5em;
    border-radius: 0.5em;
    background-image: linear-gradient(#f4e1b6, #f3d69a, #eac38c); 
    /* width: fit-content; */
    min-width: fit-content;
}

div.wakeparks-container div.park-details-container {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    /* justify-content: space-between; */
}

div.wakeparks-container .images-container {
    display: flex;
    justify-content: space-between;
}

div.wakeparks-container section img {
    border-radius: 0.5em; 
}

div.wakeparks-container section .btn-container {
text-align: right;
}

div.wakeparks-container section .btn {
    background-color: #3a3b29;
    color: #f4e1b6;
    border: none;
    text-wrap: nowrap;
}

div.wakeparks-container section .btn:hover {
    background-color: #a69e85;
    color: #3a3b29;
    border: 2px solid #3a3b29;
}


@media (max-width: 600px) {
    div.wakeparks-container section {
        flex-direction: column;
    }

    div.wakeparks-container .images-container {
        flex-direction: column;
        /* text-align: center; */
    }

    div.wakeparks-container .images-container img {
        display: inline-block;
    }
}