.login-container {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    width: fit-content;
    text-align: center;
    align-items: center;
    padding: 1em;
    border-radius: 0.3em;
    margin-left: 6em;
    margin-top: -13em; 
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
}

form.login-form label{
    display: none;
}

form.login-form input{
    display: block;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    border-width: 1px;
}

form.login-form .btn {
    display: inline-block;
    padding: 0.5em 2em; 
    margin-top: 0.2em;
    margin-bottom: 1.5em;
    background-color: #3a3b29;
    color: #edd19f;
}

.login-container p {
    font-size: 0.8em;
}

.login-container p a {
    color: #3a3b29;
    text-decoration: underline;
}

.login-container p a:hover {
    text-decoration: none;
}