.register-container {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    width: fit-content;
    text-align: center;
    align-items: center;
    padding: 2em;
    border-radius: 0.3em;
    /* margin-left: 6em; */
    margin-right: 6em;
    margin-top: -13em; 
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
}

form.register-form label{
    display: none;
}

form.register-form input{
    display: block;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    border-width: 1px;
}

form.register-form .btn {
    display: inline-block;
    padding: 0.5em 2em; 
    margin-top: 0.2em;
    margin-bottom: 1.5em;
    background-color: var(--dark-background-color);
    color: var(--light-font-color);
}

.register-container p {
    font-size: 0.8em;
}

.register-container p a {
    color: var(--dark-font-color);
    text-decoration: underline;
}

.register-container p a:hover {
    text-decoration: none;
}